# Helm values for Grafana Alloy to sync CRDs to Grafana Cloud Mimir

alloy:
  stabilityLevel: experimental

  extraEnv:
    - name: MIMIR_ACCESS_TOKEN
      valueFrom:
        secretKeyRef:
          name: mimir-credentials
          key: token

  configMap:
    create: true
    content: |
      remote.kubernetes.secret "mimir" {
        namespace = "alloy"
        name      = "mimir-credentials"
      }

      // Mimir rules kubernetes - syncs PrometheusRule CRDs to Mimir ruler
      mimir.rules.kubernetes "rules" {
        address = "https://prometheus-us-central1.grafana.net"

        basic_auth {
          username = "666905"
          password = remote.kubernetes.secret.mimir.data["token"]
        }

        rule_selector {
          match_labels = {
            "app.kubernetes.io/name" = "mimir-rules",
          }
        }
      }

      // Mimir alerts kubernetes - syncs AlertmanagerConfig CRDs to Mimir alertmanager
      mimir.alerts.kubernetes "alerts" {
        address = "https://alertmanager-us-central1.grafana.net"
        global_config = "{\"route\":{\"receiver\":\"default\",\"group_by\":[\"alertname\",\"team\"],\"group_wait\":\"30s\",\"group_interval\":\"5m\",\"repeat_interval\":\"4h\"},\"receivers\":[{\"name\":\"default\",\"webhook_configs\":[{\"url\":\"https://oncall-prod-us-central-0.grafana.net/oncall/integrations/v1/alertmanager/vxbd1hHJcdvUOhq8xB5xgxjTG/\"}]}]}"

        basic_auth {
          username = "331405"
          password = remote.kubernetes.secret.mimir.data["token"]
        }

        // Don't inject namespace matchers - our alerts don't have namespace labels
        alertmanagerconfig_matcher {
          strategy = "None"
        }

        alertmanagerconfig_selector {
          match_labels = {}
        }

        alertmanagerconfig_namespace_selector {
          match_labels = {}
        }

        sync_interval = "1m"
      }

# RBAC configuration
rbac:
  create: true
  extraRules:
    - apiGroups: ["monitoring.coreos.com"]
      resources: ["prometheusrules", "alertmanagerconfigs"]
      verbs: ["get", "list", "watch"]
    - apiGroups: [""]
      resources: ["secrets", "namespaces"]
      verbs: ["get", "list", "watch"]

# Service account
serviceAccount:
  create: true
  name: alloy-mimir-sync

# Controller configuration
controller:
  replicas: 1
